<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ5Kw1tyx2RAvtSQxjNR83yKxMgCMHIME</string>
	<key>GCM_SENDER_ID</key>
	<string>246547675738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservationKite</string>
	<key>PROJECT_ID</key>
	<string>reservation-kite</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-kite.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246547675738:ios:f0b01e20ebf21049bc7663</string>
</dict>
</plist>